*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__ {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.img__logo {
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
   
}

.ul__ {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    
    list-style: none;
    
}

li {
    margin: 20px;
    margin-left: 20px;
}
