.contato {
    margin-top: 20px;
    margin-left: 20px;
}

.div_contato {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 360px){
    .div_contato {
        flex-direction: row;
        justify-content: center;
    }

    .contato1 {
        margin-right: 50px;
        width: 100px;
    }

    .contato2 {
        margin-right: 50px;
    }
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1024px){
    .div_contato {
         display: flex;
        
         align-items: center;
         justify-content:space-around;
         align-content: space-between;
    }

    .contato1 {
        margin-right: 300px;
        width: 180px;
    }

    .contato2 {
        margin-right: 300px;
    }

    .contato {
        width: 120px;
    }
}



